.home{
    width: 80%;
    height: auto;
    margin: 10px auto;
    padding: 10px;
    color: black;
}

.blog-preview {
    width: 100%;
    height: auto; 
    padding: 10px 0;
    margin: 10px 0;
}

.blog-preview h3 {
    font-size: 22px;
    color: purple;
}