.navbar {
    width: auto;
    height: auto;
    padding: 10px 70px;
    background: purple;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li {
    padding: 0 10px;
}